body {
	background: white url("/images/solar_system.jpg") no-repeat fixed center center;
	margin-top: 50px;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

div {
	font-size: 80.0%;
}

h1 { 
	font-size: 20pt;
	text-align: center;
	color: #1A5D91;
}

h2 {
	font-size: 14pt;
	text-align: center;
}

h3 {
	font-style: normal;
	text-align: center;
	font-size: 12.0pt;
	margin-bottom: -8.0px;
}

ul {
	font-family: Arial;
	font-style: normal;
	font-size: 11pt;
	margin-left: 24px;
	margin-right: 25px;
}

p {
	font-family: Arial;
	font-size: 11.0pt; 
	margin-top:5.5px; 
	margin-bottom:22.0px;
	margin-left:50.0px;
	margin-right:50.0px;
}

a:link    {text-decoration:none; color:#1A5D91;}
a:visited {text-decoration:none; color:#1A5D91;}
a:hover   {text-decoration:none; color:#d56b39;}
a:active  {text-decoration:none; color:#1A5D91;}

.window-inner {
	border-radius:10px;
	border: 1px solid #BDCAD8;
	background: white url("/images/bg2.jpg") repeat;
	margin-left:0px;
}

.error {
	color: red;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
} 

#mainbody {
	padding: 0px 0px 0px 0px;
	text-align:left;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}

#navbody {
	position:relative;
	margin-top:50px;
	margin-left:0px;
	margin-bottom:0px;
	width:700px;
}

ul#navmenu {
	position:absolute;
	bottom:-1px;
	margin-left:42px;
	width:700px;
	text-align:left;
	padding-left:0px;
}

ul#navmenu li {
	display:inline;
	list-style:none;
}

ul#navmenu li img {
	float:left;
	vertical-align:middle;
	left:4px;
	margin-top:9.5px;
	margin-right:3px;
}

ul#navmenu a {
	display:block;
	float:left;
	font-weight:700;
	font-size:1.0em;
	font-stretch:condensed;
	text-transform:uppercase;
	text-decoration:none;
	color:#1A5D91;
	margin:2px 2px;
	padding:6px 6px 5px 6px;
	border-bottom:none;
}

